

        <div class="clearfix"></div>
        <br />
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <center><h2 style="color:
                        #606445;font-family: 'PT Serif', serif;font-weight: 900;margin-left:91px;">LIST ADMIN</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row" style="background-color: lightslategrey; color: lightyellow;">
                                          <th class="pd-l-20 tx-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width:120px;">
                                            Ảnh Đại Diện
                                          </th>
                                          <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width:200px ;text-align: center;">TOKEN_ID</th>
                                          <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width:150px ;text-align: center;">Tên Đăng Nhập</th>
                                       
                                           
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">Số Điện Thoại</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">Ngày Đăng Kí</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">Sửa/Xóa</th>

                                        </tr>
                                    </thead>


                                    <tbody>
                                   
                                        <%list.forEach((arr)=>{%>
                                      

                                       
                                            <tr role="row" >
                                             
                                                  <th class="sorting_1">  
                                                    <center>
                                                        <img src="./Upload/<%=arr.url%>" class="wd-70 rounded-circle" alt="Image">
                                                    </center> 
                                                    </th>
                                                    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.id%></td>
                                                  
                                                    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;" ><%=arr.AcFullName%></td>
                                                    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.Phone%></td>
                                                    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.Email%></td>
                                                    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.Time%></td>
                                                    <td style="width: 180px;text-align: center;padding-top: 33px">
                                                      <a href="./edituser/?id=<%=arr.id%>"><button class="btn btn-success" type="reset">Sửa</button></a>
                                                      <a href="./delete/?id=<%=arr.id%>&&url=<%=arr.url%>"><button type="button" class="btn btn-danger">Xóa</button></a>
                                                  </td>
                                                </tr>
                                                
                                            
                                             <%})%>   
                                        
                                    </tbody>
                                </table>
                                <div>
                                  <center>
                                      <a href="./adduser"><button class="btn btn-primary" type="reset">Thêm Mới</button></a>
                                  </center>
                                 
                                </div>
                            </div>
                        </div>
              </div>

                                                    
                                                  