<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagination</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="margin-top: 35px;">
       
            <center>
                <div class="x_title">
                        <h2 style="color:#606445;font-family: 'PT Serif', serif;font-weight: 900;margin-left:10px;margin-top: 14px;">KẾT QUẢ TÌM KIẾM</h2>
                        <div class="clearfix"></div>
                      </div>
            </center>
              
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width: 150px;">
                <option value="5000">Hiển thị tất cả</option>
                <option value="1">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
        <table id="mytable" class="table table-srtriped table-bordered table-hover">
            <thead>
                <tr role="row" style="background-color: lightslategrey; color: lightyellow;">
                    <th class="pd-l-20 tx-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width:120px;">
                    ẢNH SẢN PHẨM
                    </th>
                
                
                    <th tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                      aria-label="Name: activate to sort column descending" style="width:200px ;text-align: center;">LOẠI SẢN PHẨM</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width:150px ;text-align: center;">TÊN SẢN PHẨM</th>
                      <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                      aria-label="Position: activate to sort column ascending" style="width:700px ;text-align: center;">MÔ TẢ</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                      aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">SỐ LƯỢNG
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width:150px ;text-align: center;">GIẢM GIÁ(%)</th>
                   
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width:150px ;text-align: center;">DUNG TÍCH</th>
                    
                  
                  </tr>
            </thead>
            <tbody>
             
                    <%list.forEach((arr)=>{%>
                                      

                        <tr role="row" >
                         
                              <th class="sorting_1">  
                                <center>
                                    <img src="<%=arr.imgURL%>" class="wd-70 rounded-circle" alt="Image">
                                </center> 
                                </th>
                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.catID%></td>
                              
                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;" ><%=arr.name%></td>
                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.description%></td>
                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.quantity%></td>

                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.discount%></td>

                                <td style="width: 130px;text-align: center;padding-top: 33px;color: black;"><%=arr.volumetric%></td>

      
                            </tr>
                        
                         <%})%>   
            </tbody>
        </table>
        
        <div class="pagination-container">
            <nav>
                <ul class="pagination" style="margin-left: 1061px;">
                
                </ul>
            </nav>
        </div>
        <div>
                <center>
                  <a href="./listproduct"><button class="btn btn-primary" type="reset">Quay Về Danh Sách</button></a>
                </center>
    
              </div>
    </div>
  
    <script>
      var table='#mytable'
      $("#maxRows").on('change', function(){
          $('.pagination').html('')
          var trnum=0
          var maxRows=parseInt($(this).val())
          var totalRows=$(table+' tbody tr').length
          $(table+' tr:gt(0)').each(function(){
              trnum++
              if(trnum > maxRows){  
                  $(this).hide()
              }
              if(trnum <= maxRows){
                  $(this).show()
              }
          })
          if(totalRows > maxRows){
              var pagenum=Math.ceil(totalRows/maxRows)
              for(var i=1;i<=pagenum;){
                $('.pagination').append('<li style="border:solid 3px cornflowerblue;width:45px;height:30px;text-align:center;background-color: #E7E7E3;cursor: pointer;" data-page="'+i+'">\<span>'+ i++ +'<span class="sr-only">(current)</span></span>\</li>').show()
              }
              
          }
          $('.pagination li:first-child').addClass('active')
          $('.pagination li').on('click',function(){
              var pageNum=$(this).attr('data-page')
              var trIndex=0;
              $('.pagination li').removeClass('active')
              $(this).addClass('active')
              $(table+' tr:gt(0)').each(function(){
                  trIndex++
                  if(trIndex>(maxRows*pageNum)||trIndex<=((maxRows*pageNum)-maxRows)){
                      $(this).hide()
                  }else{
                      $(this).show()
                  }
              })
          })
      })
    $(function(){
        $('table tr:eq(0)').prepend('<th>ID</th>')
        var id=0;
        $('table tr:gt(0)').each(function(){
            id++
            $(this).prepend('<td>'+id+'</td>')
        })
    })
    </script>
</body>
</html>